<hr />
<h2>Create Users</h2>
<div class="example-container">
  <form [formGroup]="options" (ngSubmit)="submit()">
    <mat-form-field [floatLabel]="floatLabel()">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="name" [formControl]="name" />
      <!-- @if (name.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
    } -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="email@email.com" [formControl]="email" (blur)="updateErrorMessage()" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [formControl]="password" [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-stroked-button type="submit">Create</button>
  </form>
</div>
